[Desktop Entry]
Name=Git-good
Comment=Git-good
GenericName=Git Client
Exec=git-good %F
Terminal=false
Type=Application
Icon=git-good
Categories=GTK;Development;RevisionControl;
